body { 
    font-family: 'Merriweather', serif;
    background-color:#9ec29f;
}

.container {
    border:solid 1px;
    padding:8px;
}

#div_datospersonales {
    border:solid 1px;
    padding:8px;
}

legend {
    border:solid 1px;
    border-radius: 15px;
    background-color: rgb(95, 133, 101);
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    text-align:center;
}

#h2_01 {
    font-family: 'Merriweather', serif;
    color: rgb(5, 45, 12);
    font-size: 18px;
}

#anclaje-imagen {
    margin: 0 auto; 
}

#anclaje-video {
    margin: 0 auto;
}

/* .wrap-element y .wrapped-iframe Esto uso para el despliegue de video de youtube que gestionaré con js si llego con el tiempo*/
.wrap-element {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.wrapped-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}